%h2.text-center Task List

.well.well-sm.col-md-2.pull-right#login
  %p
    %strong Sign in
  = form_for(resource, as: resource_name, url: user_session_path, role: :form) do |f|
    .form-group
      = f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'Username'
    .form-group
      = f.password_field :password, class: 'form-control', placeholder: 'Password'
    .form-group
      = f.submit "Sign in", class: 'btn btn-primary col-md-12'
  %p.col-md-12.bg-danger= alert
  .sign-up.col-md-12
    .btn.btn-link.pull-right.no-padding= link_to 'Sign up', new_user_path

.row.text-center
  .col-md-6.col-md-offset-3 Sign up and start managing your tasks today!