!!!
%html
  %head
    %title TaskList
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'application/navbar' if current_user

    .container
      - if notice
        %p.notice= notice
      -if alert
        %p.alert= alert

      = yield